### macOS ###
# General
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
.python-version

# # pipenv
# Pipfile.lock

# # poetry
# poetry.lock

# Environments
.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
nltk_data/
src/data/output/*
src/data/input/*
src/data/samples/
src/test/result_of_test/
src/test/hs_err_pid*.log
src/test/golden/

src/local_test/
src/model/awesome_model_with_co/*
src/model/awesome_model_without_co/*
models/**
!models/
!models/README.md


### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.zip

CLAUDE.md
.claude/**
